@using Palmart.Data.Enums
@model LoginInfo

	@if(true)
	{
		<button type="submit">Sign up</button>
		<button type="button"><a asp-action="Index" asp-controller="Home">Cancel</a></button>
		<a asp-action="Login" asp-controller="User">Don't have an account?</a>
	}
	else
	{
		<button type="submit">Add</button>
		<button type="button"><a asp-action="Index" asp-controller="User">Cancel</a></button>
	}

